In [1]:
import numpy as np
import pandas as pd

In [167]:
PATH='data/transactions'
col_names = [
    'parkingFacilityId',
    'parkingFacilityZoneId',
    'parkingTransactionId',
    'pmsTicketReference',
    'pmsTicketId',
    'parkingTransactionTypeId',
    '_dateTimeEntry',
    'dateTimeEntry',
    '_dateTimeExit',
    'dateTimeExit',
    'duration',
    'stationEntryId',
    'stationExitId',
    'articleId',
    'productCategory',
    'productCategorySub1',
    'productCategorySub2',
    'licensePlate',
    'country',
    'pms'
]  

use_cols = [
    'parkingFacilityId',
    'parkingTransactionTypeId',
    'dateTimeEntry',
    'dateTimeExit',
    'duration'
] 

date_cols = [
    'dateTimeEntry',
    'dateTimeExit'
]

col_types = {
    'parkingFacilityId': str
}

def ms2dt(ms): return pd.to_datetime(ms, unit='ms')

transactions = pd.read_csv(f'{PATH}/transactions.csv', 
                           delimiter=';', 
                           header=None, 
                           names=col_names, 
                           usecols=use_cols,
                           parse_dates=date_cols,
                           date_parser=ms2dt,
                           dtype=col_types,
                           low_memory=False,
                           # nrows=100000
                          )
transactions['dateEntry'] = transactions['dateTimeEntry'].dt.date
transactions['dateExit'] = transactions['dateTimeExit'].dt.date
# transactions['duration'] = pd.to_timedelta(transactions['duration'], unit='ms')

In [168]:
complete_transactions = transactions[transactions['parkingTransactionTypeId'] == 'C']
complete_transactions = complete_transactions.drop(['parkingTransactionTypeId', 'dateTimeEntry', 'dateTimeExit', 'dateExit'], axis=1)

In [169]:
grouped = complete_transactions.groupby(['parkingFacilityId', 'dateEntry'])

In [173]:
txagg = grouped.agg([len, np.mean]).rename(columns={'len': 'count'})
txagg.reset_index(inplace=True)

In [192]:
txagg.columns = pd.Index(['facility', 'entry_date', 'count', 'avg_duration'])

In [193]:
txagg.to_feather(f'{PATH}/txagg')

In [194]:
df = pd.read_feather(f'{PATH}/txagg')

/home/koendej/apps/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [195]:
len(df)

101798

In [243]:
null_date = pd.to_datetime('1994-01-01').date()
entries = transactions[transactions['dateEntry'] != null_date]

In [244]:
entries = entries[(entries['parkingTransactionTypeId'] != 'C') | (entries['duration'] > 0)]

len(entries)

47765538

In [245]:
grouped_entries = entries.drop(['parkingTransactionTypeId', 'dateTimeEntry', 'dateTimeExit', 'dateExit'], axis=1)
grouped_entries = grouped_entries.groupby(['parkingFacilityId', 'dateEntry'])

In [246]:
entries_agg = grouped_entries.agg([len]).rename(columns={'len': 'count'})

In [247]:
entries_agg.reset_index(inplace=True)

In [248]:
entries_agg.columns = pd.Index(['facility', 'entry_date', 'count'])
entries_agg.to_feather(f'{PATH}/entries_agg')

In [249]:
entries_agg

       facility  entry_date  count
0       0500140  2015-12-16      2
1       0500140  2015-12-18      2
2       0500140  2015-12-20      1
3       0500140  2015-12-21    933
4       0500140  2015-12-22   1427
5       0500140  2015-12-23   1641
6       0500140  2015-12-24      2
7       0500140  2015-12-25      2
8       0500140  2015-12-26     20
9       0500140  2015-12-27    593
10      0500140  2015-12-28    866
11      0500140  2015-12-29   1137
12      0500140  2015-12-30   1145
13      0500140  2015-12-31    929
14      0500140  2016-01-01      2
15      0500140  2016-01-02      1
16      0500140  2016-01-03    267
17      0500140  2016-01-04    383
18      0500140  2016-01-05    538
19      0500140  2016-01-06    707
20      0500140  2016-01-07    615
21      0500140  2016-01-08   1053
22      0500140  2016-01-09   1320
23      0500140  2016-01-10     26
24      0500140  2016-01-11    445
25      0500140  2016-01-12      4
26      0500140  2016-01-13    789
27      0500140  2016-01-14    601
28      0500140  2016-01-15   1156
29      0500140  2016-01-16   1386
...         ...         ...    ...
102244  0510842  2018-08-17   1170
102245  0510842  2018-08-18   1373
102246  0510842  2018-08-19    746
102247  0510842  2018-08-20    889
102248  0510842  2018-08-21    957
102249  0510842  2018-08-22    916
102250  0510842  2018-08-23   1149
102251  0510842  2018-08-24   1317
102252  0510842  2018-08-25   1856
102253  0510842  2018-08-26    817
102254  0510842  2018-08-27   1029
102255  0510842  2018-08-28    998
102256  0510842  2018-08-29   1104
102257  0510842  2018-08-30   1228
102258  0510842  2018-08-31   1315
102259  0510842  2018-09-01   1403
102260  0510842  2018-09-02    953
102261  0510842  2018-09-03    740
102262  0510842  2018-09-04    928
102263  0510842  2018-09-05    883
102264  0510842  2018-09-06   1041
102265  0510842  2018-09-07   1203
102266  0510842  2018-09-08   1505
102267  0510842  2018-09-09    770
102268  0510842  2018-09-10    686
102269  0510842  2018-09-11    900
102270  0510842  2018-09-12   1011
102271  0510842  2018-09-13    866
102272  0510842  2018-09-14   1103
102273  0510842  2018-09-15   1441

[102274 rows x 3 columns]